<div id="body--call-to-action" class="clearfix">
   <p id="h1">
   Discover
   </p>
   <p id="p">
   <span id="textspan">The Authentic </span><span id="textspan1">New Orleans experience</span><span id="textspan2">, through the eyes of a local.</span><br />
   </p>
</div>
<div id="body--get-started" class="clearfix fadeInDown animated">
   <a href="packages.html">
   <div id="box" class="clearfix">
       <p id="text">
        <%= link_to "Get Started", packages_path %>
       </p>
   </div>
   </a>
</div>
