// Place all the styles related to the packages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwLjA4NDUiIHN0b3AtY29sb3I9IiNGQ0Y5RTQiLz48c3RvcCBvZmZzZXQ9IjAuMjUiIHN0b3AtY29sb3I9IiNmOGYzY2UiLz48c3RvcCBvZmZzZXQ9IjAuOCIgc3RvcC1jb2xvcj0iI2E1NjgzMSIvPjxzdG9wIG9mZnNldD0iMC45OCIgc3RvcC1jb2xvcj0iIzk5NTYzOCIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSIjOTk1NjM4IiAvPjxyZWN0IHg9IjAlIiB5PSIwJSIgd2lkdGg9IjIwMCUiIGhlaWdodD0iMjAwJSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(radial, 100% 100%, 0, 100% 100%, 1225, color-stop(8.45%, #FCF9E4), color-stop(25%, #f8f3ce), color-stop(80%, #a56831), color-stop(98%, #995638));
    background-image: -webkit-radial-gradient(right bottom, farthest-side, #FCF9E4 8.45%, #f8f3ce 25%, #a56831 80%, #995638 98%);
    background-image: -moz-radial-gradient(right bottom, farthest-side, #FCF9E4 8.45%, #f8f3ce 25%, #a56831 80%, #995638 98%);
    background-image: -ms-radial-gradient(right bottom, farthest-side, #FCF9E4 8.45%, #f8f3ce 25%, #a56831 80%, #995638 98%);
    background-image: -o-radial-gradient(right bottom, farthest-side, #FCF9E4 8.45%, #f8f3ce 25%, #a56831 80%, #995638 98%);
    background-image: radial-gradient(farthest-side at right bottom, #FCF9E4 8.45%, #f8f3ce 25%, #a56831 80%, #995638 98%);
}

#header {
    float: left;
    height: 60px;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.45098);
    min-width: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#header--container {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    width: 100%;
    margin-right: auto;
    min-width: 0px;
    max-width: 1200px;
    min-height: 60px;
}

#header--logo_container {
    float: left;
    height: 40px;
    margin-left: 0px;
    margin-top: 10px;
    width: 160px;
    display: block;
    background-image:url("kale-logo.png");
    background-position: 0% -6px;
    background-repeat: no-repeat;
    background-size: 95%;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#body--container {
    float: none;
    height: auto;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    min-width: 0px;
    max-width: 1200px;
    min-height: 60px;
    &.packages-index{
      margin-top: 60px;
    }
    &.packages-show{
      margin-top: 100px;
    }
    h2 {
      text-align: center;
      font-size: 32px;
    }
}

#body--call-to-action {
    float: left;
    height: 454px;
    margin-left: 165px;
    margin-top: 0px;
    width: 460px;
    margin-right: 70px;
    margin-bottom: 0px;
}

#body--get-started {
    float: left;
    height: 541px;
    margin-left: 0px;
    margin-top: 0px;
    width: 349px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-image:url("kale-item.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
}

#h1 {
    float: left;
    font-size: 48px;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 120px;
    min-height: 50px;
    color: rgb(255, 255, 255);
    font-family: open-sans;
}

#p {
    float: left;
    font-size: 48px;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 40px;
    min-height: 50px;
    color: rgb(255, 255, 255);
    font-family: open-sans;
    margin-right: 0px;
    min-width: 0px;
    margin-bottom: 0px;
}

#textspan {
    float: none;
    font-size: 32px;
    line-height: 1em;
    font-weight: 300;
}

#textspan2 {
    float: none;
    font-size: 32px;
    line-height: 1em;
    font-weight: 300;
}

#textspan1 {
    float: none;
    font-size: 32px;
    line-height: 1em;
    font-weight: 700;
    font-style: italic;
}

#intro{
  float: none;
  margin: 15px auto;
  width: 50%;
  min-width: 0px;
  max-width: 600px;
  color: white;
  font-size: 1.1em;
  font-family: open-sans;
  font-weight: 300;
  
}

#box {
    float: none;
    height: 60px;
    margin-left: auto;
    margin-top: 410px;
    width: 62.17765%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-color: rgb(112, 112, 112);
    border-right-color: rgb(112, 112, 112);
    border-bottom-color: rgb(112, 112, 112);
    border-left-color: rgb(112, 112, 112);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    margin-right: auto;
    &:hover {
      background-color: rgb(112, 112, 112);
    }
}

#text {
    float: left;
    font-size: 22px;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 600;
    line-height: 2.7em;
    margin-left: 0%;
    margin-top: 0px;
    min-height: 59px;
    font-family: open-sans;
    color: rgb(112, 112, 112);
    &:hover {
      color: rgb(255, 255, 255);
    }
}

#body--groups {
    float: none;
    height: 150px;
    margin: 15px auto;
    width: 50%;
    min-width: 0px;
    max-width: 600px;
    background-color: rgb(244, 244, 244);
    border-right-color: rgb(103, 56, 35);
    border-right-width: 12px;
    border-right-style: solid;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 7px 3px;
    &:last-child {
      margin-bottom: 100px;
    }
}

#groups--img{
    float: left;
    height: 150px;
    margin-left: 0%;
    margin-top: 0px;
    width: 25%;
    background-size: cover;
    background-repeat: no-repeat no-repeat;

    &.family-fun{
    background-image:url("family-fun.jpg");
    }

    &.seersucker-special{
      background-image:url("seersucker-special.jpg");
    }

    &.party-time{
      background-image:url("party-time.jpg");
    }

    &.custom{
      background-image:url("custom.jpg");
    }

}

#groups-header {
    float: left;
    font-size: 1.4em;
    width: 74.997101%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin: 22px 0px 12px;
    min-height: 26px;
    padding-left: 30px;
    font-family: open-sans;
    color: rgb(69, 69, 69);

    a{
      &:hover{
        text-decoration: underline;
        &:after {
          position: absolute; /* Prevent underline of arrow */
          padding-left:4px; /* Add a little space between text and arrow */
          content: "\00bb"; /* Unicode hex for &raquo; */        }
      }
    }
}

#groups-paragraph {
    float: left;
    font-size: 0.9em;
    width: 74.997101%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 0px;
    min-height: 26px;
    padding-left: 30px;
    font-family: open-sans;
    color: rgb(69, 69, 69);
    padding-right: 30px;
}

#group-p {
    float: none;
    font-size: 1em;
    line-height: 1.2em;
}

.groups-select-item {
    text-align: center;
    font-size: 32px;
}

.left-box{
  margin-left: 20px;
  width: 300px;
  display: inline-block;
  h1{
    color: white;
    width: 300px;
    padding-top:0;
    padding-bottom: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  p{
    width: 300px;
    margin-top: 5px;
    color:rgba(255, 255, 255, 0.45098);
  }
}

#suggestions{
  h2{
    font-size:24px;
    font-style: italic;
    color: white;
  }
  ol{
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
    li{
      position:relative; /* Create a positioning context */
      margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
      padding:4px 8px; /* Add some spacing around the content */
      list-style:none; /* Disable the normal item numbering */
      border-top:4px solid #666;
      background:#f6f6f6;
      &:before{
        content:counter(li); /* Use the counter as content */
        counter-increment:li; /* Increment the counter by 1 */
        /* Position and style the number */
        position:absolute;
        top:-4px;
        left:-2em;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        width:2em;
        /* Some space between the number and the content in browsers that support
           generated content but not positioning it (Camino 2 is one example) */
        margin-right:8px;
        padding:4px;
        border-top:4px solid #666;
        color:#fff;
        background:#666;
        font-weight:bold;
        font-family:"Helvetica Neue", Arial, sans-serif;
        text-align:center;
      }
    }
  }
}

